openai
langchain
langchain-openai
langchain-text-splitters
langchain-classic
langchain-core
langgraph
pandas
numpy
tiktoken
python-dotenv
qdrant-client
langfuse
ipython
ddgs
langchain-community
duckduckgo-search
sql-connector
